.footer-container {
  @include xy-grid-container;
  border-top: 1px solid $medium-gray;
  margin-top: rem-calc(60);
}

.footer-grid {
  @include xy-grid;
  padding: rem-calc(30) 0;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.dcm-footer-middle {
  background-color: $dcm-black;
  color: #fff;
  text-align: left;
  font-family: $dcm-primary-font;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: $dcm-title-letter-spacing;
  font-size: 12px;
  padding: 32px 0;

  i {
    color: $dcm-primary-colour;
    padding-right: 15px;
    font-size: 22px;
  }
  p {
    margin: 0;
    padding: 10px 0;
  }
  .dcm-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .dcm-footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dcm-footer-map {
  background-image: url(../images/footer-map.jpg);
  height: 450px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .dcm-btn-full {
    @include mq ('phone-wide') {
      padding: 20px 30px;
    }
  }
}

.dcm-footer-bottom {
  width: 100vw;
  color: #fff;
  padding: 8px 0;
  background-color: $dcm-secondary-colour;
  font-size: 14px;
  font-family: $dcm-primary-font;
  p {
    margin: 0;
  }
  .dcm-footer-author {
    text-align: right;
    @include mq ('desktop') {
      text-align: center;
      padding-top: 16px;
    }
  }
  .dcm-footer-flex {
    display: flex;
    justify-content: space-between;
    @include mq ('desktop') {
      flex-direction: column;
      text-align: center;
    }
  }
}