// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

// .dcm-nav {
//   padding: 0;
// }
.dcm-top-nav {
  margin: 0 auto;
  // position: fixed;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  // width: 100vw;
  text-align: right;
  margin-top: 10px;
  margin-bottom: -40px;
  p {
    font-family: $dcm-primary-font;
    text-align: right;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 600;
  }
  i {
    color: $dcm-secondary-colour;
    padding-right: 15px;
    font-size: 22px;
  }
}

.top-bar {
  padding: 0 16px 16px 16px;
}

.top-bar, .top-bar ul {
  background-color: #fff;
}

.top-bar-right {
  align-self: flex-end;
}

.site-header {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
}

#menu-primary {
    //handles the god damned child active states
  .current-menu-item:not(.is-dropdown-submenu-parent) {
    a{
      font-weight: 700;
      color: $dcm-primary-colour;
    }
  }
  .menu-item 
    a{
      font-family: $dcm-primary-font;
      color: $dcm-black;
      text-transform: uppercase;
      font-size: 14px;  
      padding: 10px 26px;
      font-weight: 400;
      &:hover {
        color: $dcm-primary-colour;
    }
  }
  .menu-item-73 {
    border: 1px solid transparent;
    background-color: $dcm-primary-colour;
    transition: all 0.3s ease;
    a {
      color: #fff;
    }
    &:hover {
      border: 1px solid $dcm-primary-colour;
      background-color: transparent;
      a {
        color: $dcm-primary-colour;
      }
    }
  } 
  //handles the god damned child active states
  li.is-dropdown-submenu-parent.current-menu-parent > a {
    font-weight: 700;
    color: $dcm-primary-colour;
  }
}


.dropdown.menu {
  li.is-dropdown-submenu-parent {
    a {
      &::after {
        border-color: $dcm-black transparent transparent;
        margin-top: -2px;
      }
      &:hover {
        &::after {
          border-color: $dcm-primary-colour transparent transparent;
        }
      }
    }
  } 
}