// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(nav);
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  .menu-icon {
    left: 90%;
    &::after {
    background: $dcm-black;
    box-shadow: 0 7px 0 $dcm-black, 0 14px 0 $dcm-black;
  }
}
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(nav);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

.dcm-top-nav {
  margin: 0 auto;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-top: 10px;
  margin-bottom: -40px;
  @include mq ('navigation') {
    margin: 0;
    background: $dcm-secondary-colour;
    display: flex;
    padding: 10px 20px 10px 0;
  }
  p {
    font-family: $dcm-primary-font;
    text-align: right;
    padding-right: 16px;
    font-size: 14px;
    font-weight: 600;
    @include mq ('navigation') {
      color: #fff;
      font-size: 12px;
      margin: 0;
      padding: 10px 0;
      margin-right: 40px;
    }
    @include mq ('phone') {
      margin-right: 20px;
      font-size: 11px;
    }
    @include mq ('trashbag') {
      font-size: 10px;
    }
  }
  i {
    color: $dcm-secondary-colour;
    padding-right: 15px;
    font-size: 22px;
    @include mq ('navigation') {
      color: $dcm-primary-colour;
      font-size: 18px;
    }
  }
}

.top-bar {
  padding: 0 16px 16px 16px;
  @include mq ('navigation') {
    padding: 0;
  }
}

.top-bar, .top-bar ul {
  background-color: #fff;

}

.top-bar-right {
  align-self: flex-end;
}

.site-header {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
  .grid-container {
    @include mq ('navigation') {
      padding: 0;
    }
  }

}

#menu-primary {
  .menu-item-73.current-menu-item a{
    color: #fff !important;
  }
  .menu-item-73.current-menu-item {
  &:hover a{
    color: $dcm-primary-colour !important;
  }
}
    //handles the god damned child active states
  .current-menu-item:not(.is-dropdown-submenu-parent) {
    a{
      font-weight: 700;
      color: $dcm-primary-colour;
    }
  }
  .menu-item 
    a{
      font-family: $dcm-primary-font;
      color: $dcm-black;
      text-transform: uppercase;
      font-size: 14px;  
      padding: 10px 26px;
      font-weight: 400;
      &:hover {
        color: $dcm-primary-colour;
    }
    @include mq ('navigation'){
      font-size: 10px;
      padding: 10px 18px;
    }
  }
  .menu-item-73 {
    border: 1px solid transparent;
    background-color: $dcm-primary-colour;
    transition: all 0.3s ease;
    a {
      color: #fff;
    }
    &:hover {
      border: 1px solid $dcm-primary-colour;
      background-color: transparent;
      a {
        color: $dcm-primary-colour;
      }
    }
  } 
  //handles the god damned child active states
  li.is-dropdown-submenu-parent.current-menu-parent > a {
    font-weight: 700;
    color: $dcm-primary-colour;
  }
}


.dropdown.menu {
  li.is-dropdown-submenu-parent {
    a {
      &::after {
        border-color: $dcm-black transparent transparent;
        margin-top: -2px;
      }
      &:hover {
        &::after {
          border-color: $dcm-primary-colour transparent transparent;
        }
      }
    }
  } 
}

.mobile-menu {
  width: 100%;
  a {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0;
    font-family: $dcm-primary-font;
    color: $dcm-black;
    text-transform: uppercase;
    font-size: 14px;  
    font-weight: 400;
  }
  .submenu-toggle {
    display: none;
    &::after {
      border-color: $dcm-black transparent transparent;
    }
  }
}
.top-bar-right {
  @include mq ('navigation') {
    margin: 0;
    width: 100%;  
  }
}

.menu .is-active > a {
  background: $dcm-primary-colour;
  font-weight: 700;
}

.the-team-menu-title a{
  font-family: $dcm-body-font !important;
  font-size: 18px !important;
  color: $dcm-secondary-colour !important;
  text-transform: initial !important;
}