// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

// .dcm-nav {
//   padding: 0;
// }

.top-bar {
  padding: 16px;
}

.top-bar, .top-bar ul {
  background-color: #fff;
}

.top-bar-right {
  align-self: flex-end;
}

.site-header {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: #fff;
}

#menu-primary {
  .menu-item {
    a {
      font-family: $dcm-primary-font;
      color: $dcm-black;
      text-transform: uppercase;
      font-size: 14px;  
      padding: 5px 26px;
    }
    a:hover {
      border-bottom: 1px solid $dcm-primary-colour;
      color: $dcm-primary-colour;
    }
  }
}


