.dcm-section-header {
    font-family: $dcm-primary-font;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: $dcm-title-letter-spacing;
    padding-bottom: $dcm-paragraph-padding;
}