.dcm-about-us {
    padding-bottom: $dcm-section-padding;
    @include mq ('tablet-small') {
        padding-bottom: $dcm-responsive-section-padding;
    }
    p {
        font-family: $dcm-body-font;
    }
    h1 {
    font-family: $dcm-primary-font;
    text-align: center;
    font-size: 22px;
    margin-bottom: $dcm-section-padding;
    }
    .dcm-section-header {
        @include mq ('tablet-small') {
            margin: $dcm-responsive-section-padding 0;
        }
    }
    .dcm-team-menu {
        @include mq ('tablet-small') {
            padding-top: 0;
        }
    }
}