.dcm-about-us {
    padding-bottom: $dcm-section-padding;
    p {
        font-family: $dcm-body-font;
    }
    h1 {
    font-family: $dcm-primary-font;
    text-align: center;
    font-size: 22px;
    margin-bottom: $dcm-section-padding;
    }
}