.articles-item {
    display: flex;
    &:nth-of-type(2n+1) {
        background: $dcm-secondary-colour;
        &:hover {
            background: lighten($dcm-secondary-colour, 3%);
        }
    }
    &:nth-of-type(2n) {
        background: #3a586d;
        &:hover {
            background: lighten(#3a586d, 3%);
        }
    }
    margin: $dcm-paragraph-padding $dcm-paragraph-padding;
    padding: 40px;
    .dcm-title {
        text-transform: uppercase;
        font-size: 22px;
        color: #fff;
        text-align: left;
        letter-spacing: $dcm-title-letter-spacing;
        width: 50%;
        border-right: 1px solid #fff;
        padding-right: 100px;
        margin: 0;
        @include mq ('tablet') {
            width: 100%;
            padding: 0;
            text-align: center;
            border: none;
        }    
    }
    a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq ('tablet') {
            flex-direction: column;
        }    
    }
    p{
        padding-top: $dcm-paragraph-padding;
        font-size: 18px;
        font-family: $dcm-body-font;
        color: #fff;
    }
    .author {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include mq ('tablet') {
            width: 100%;
            flex-direction: column;
        }    
        img {
            border-radius: 50%;
        }
        .articles-author {
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
            margin: 0;
            // margin-left: 20px;
        }
        .written-by {
            font-family: $dcm-body-font;
            font-size: 12px;
            color: #fff;
            text-transform: lowercase;
        }
    }
    .dcm-btn-underline {
        padding-top: $dcm-paragraph-padding;
        justify-content: center;
    }
}

.dcm-articles-list {
    font-family: $dcm-body-font;
    font-size: 18px;
    padding-bottom: $dcm-section-padding;
    @include mq ('tablet') {
        padding-bottom: $dcm-responsive-section-padding;
    }
    a {
        text-decoration: none;
        color: $dcm-black;
    }

    .articles-title {
        font-size: 32px;
        font-family: $dcm-primary-font;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: $dcm-title-letter-spacing;
        padding-bottom: $dcm-section-padding;
    }
    .dcm-section-header{
        text-align: center !important;
        padding-bottom: $dcm-section-padding;
        font-size: 22px;
        @include mq ('tablet') {
            padding-bottom: $dcm-responsive-section-padding;
        }
    }
}

.dcm-articles {
    font-family: $dcm-body-font;
    font-size: 18px;
    padding-bottom: $dcm-section-padding;
    span {
        font-family: $dcm-body-font;
        font-size: 18px;
        padding-bottom: $dcm-section-padding;
    }
    ul {
        padding-left: 20px;
    }
    h1 {
        font-size: 32px;
        font-family: $dcm-primary-font;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: $dcm-title-letter-spacing;
        padding-bottom: $dcm-section-padding;     
    }
    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-family: $dcm-primary-font;
        font-size: 18px;
        padding-top: $dcm-paragraph-padding;        
    }
    h3 {
        text-transform: uppercase;
        font-weight: 700;
        font-family: $dcm-primary-font;
        font-size: 16px;
        padding-top: $dcm-paragraph-padding;
    }
    .dcm-title h1{
        font-size: 32px;
        font-family: $dcm-primary-font;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: $dcm-title-letter-spacing;
        padding-bottom: $dcm-section-padding;
    }
}
