.home-hero {
    height: 60vh;
    background: url('../images/home-hero.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    h1 {
        color: #fff;
        font-family: $dcm-primary-font;
        letter-spacing: $dcm-title-letter-spacing;
        font-size: 3.5em;
        max-width: 50%;
    }
}


.dcm-home-about {
    display: flex;
    align-items: center;
    padding-top: $dcm-section-padding;
    padding-bottom: $dcm-section-padding;
    font-size: 18px;
    font-family: $dcm-body-font;
    h2 {
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: $dcm-title-letter-spacing;
        padding-bottom: $dcm-paragraph-padding;
    }
    p {
        padding-right: 100px;
    }
}

.home-testimonials {
    background-color: $dcm-secondary-colour;
    height: 435px;
    display: flex;
    align-items: center;
}