.home-hero {
    height: 60vh;
    background: url('../images/home-hero.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: -100px !important;
    h1 {
        color: #fff;
        font-family: $dcm-primary-font;
        letter-spacing: $dcm-title-letter-spacing;
        font-size: 3.5em;
        max-width: 50%;
        text-shadow: 0px 1px 15px rgba(34,34,34,0.22);
    }
    .hero-hr {
        max-width: 50%;
        margin: 0;
        margin-bottom: $dcm-paragraph-padding;
    }
    .hero-buttons {
        padding-top: 10px;
        max-width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .dcm-btn {
        display: flex;
        align-items: center;
    }
}


.dcm-home-about {
    display: flex;
    align-items: center;
    padding-top: $dcm-section-padding;
    padding-bottom: $dcm-section-padding;
    font-size: 18px;
    font-family: $dcm-body-font;
    p {
        padding-right: 100px;
    }
    .emphasis {
        color: $dcm-secondary-colour;
        font-weight: 700;
    }
    .dcm-btn-underline{
        color: $dcm-primary-colour;
        text-align: right;
        padding-right: 100px;
    }
    .dcm-practice-areas-menu {
        padding-top: 0;
    }
}

.home-testimonials {
    background-color: $dcm-secondary-colour;
    height: 435px;
    display: flex;
    align-items: center;
}

.dcm-home-team {
    font-family: $dcm-primary-font;
    text-align: center;
    color: $dcm-black;
    a {
        color: $dcm-black;
    }
    h2 {
        padding-top: $dcm-section-padding;
        text-align: center;
    }
    .dcm-home-team-item {
        // display: block;
        font-family: $dcm-primary-font;
        padding: $dcm-paragraph-padding 0;
    }
    .dcm-team-title h3 {
        font-family: $dcm-primary-font;
        text-align: center;
        font-size: 22px;
        margin-bottom: $dcm-section-padding;
    }
    .dcm-team-thumbnail img {
        max-width: 250px;
        height: 250px;
        border-radius: 50%;
        padding-bottom: $dcm-paragraph-padding;
    }
}