.team-hero {
    height: 40vh;
    background: url('../images/team-hero-temp.jpg');
    background-size: cover;
    background-position: 0% 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -100px !important;
    background-color: #a9a9a9;
    background-blend-mode: multiply;
    @include mq ('phone-wide') {
        margin-top: -58px !important;
    }
    h1 {
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: $dcm-primary-font;
        letter-spacing: $dcm-title-letter-spacing;
        font-size: 3.5em;
    }
}

.team-menu {
    @include mq ('tablet-small') {
        display: none;
    }
}

.team-menu.is-active {
    display: inherit;
}

.team-btn {
    .dcm-btn-full {
        padding: $dcm-section-padding 0;
        text-align: center;
        button:hover {
            color: $dcm-black;
        }
        @include mq ('tablet-wide') {
            padding: $dcm-responsive-section-padding 0;
        }
    
    } 
}

.dcm-team {
    font-family: $dcm-body-font;
    font-size: 18px;
    padding-top: $dcm-section-padding;
    padding-right: 40px;
    @include mq ('tablet-small') {
        padding-top: $dcm-responsive-section-padding;
        padding-right: 0;
    }
    span {
        font-family: $dcm-body-font;
        font-size: 18px;
        padding-bottom: $dcm-section-padding;
    }
    ul {
        padding-left: 20px;
    }
    h1 {
        font-size: 32px;
        font-family: $dcm-primary-font;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: $dcm-title-letter-spacing;
        padding-bottom: $dcm-section-padding;     
    }
    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-family: $dcm-primary-font;
        font-size: 18px;
        padding-top: $dcm-paragraph-padding;        
    }
    h3 {
        text-transform: uppercase;
        font-weight: 700;
        font-family: $dcm-primary-font;
        font-size: 16px;
        padding-top: $dcm-paragraph-padding;
    }
    .dcm-title h1{
        font-size: 32px;
        font-family: $dcm-primary-font;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: $dcm-title-letter-spacing;
        padding-bottom: $dcm-section-padding;
    }
    .dcm-specialties h3, .dcm-specialties p {
        margin: 0;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $dcm-primary-font;
        font-size: 16px;
    }
    .dcm-specialties p {
        color: $dcm-grey;
    }
    .dcm-specialties {
        padding-bottom: $dcm-paragraph-padding;
    }
}

.dcm-team-quote {
    font-family: $dcm-body-font;
    font-size: 18px;
    padding: 40px;  
    text-align: center;
    align-self: center;
    border-left: 1px solid #e5e5e5;
    @include mq ('tablet-wide') {
        display: none;
    }
    .quotation-mark {
        font-family: 'Courgette', cursive;
        font-size: 100px;
        color: $dcm-black;
        text-align: center;
        line-height: 60px;    
    }
    h4{
        font-family: $dcm-primary-font;
        font-size: 16px;
        font-weight: 700;
        color: #e5e5e5;
        text-transform: uppercase;
    }
}
.dcm-team-quote-mobile {
    font-family: $dcm-body-font;
    font-size: 18px;
    padding: 40px;  
    text-align: center;
    align-self: center;
    display: none;
    @include mq ('tablet-wide') {
        display: block;
        padding: $dcm-responsive-section-padding 10px;
    }
    .quotation-mark {
        font-family: 'Courgette', cursive;
        font-size: 100px;
        color: $dcm-black;
        text-align: center;
        line-height: 60px;    
    }
    h4{
        font-family: $dcm-primary-font;
        font-size: 16px;
        font-weight: 700;
        color: #e5e5e5;
        text-transform: uppercase;
    }
}

