.home-testimonials {
    z-index: 1;
}

.dcm-home-testimonials-author {
    font-family: $dcm-body-font;
    font-size: 22px;
    color: #fff;
    text-align: center;
}

.dcm-home-testimonials-quote {
    font-family: $dcm-body-font;
    font-size: 32px;
    color: #fff;
    text-align: center;
    padding-bottom: $dcm-paragraph-padding;
}

.dcm-home-testimonials-header {
    font-family: 'Courgette', cursive;
    font-size: 120px;
    color: #fff;
    text-align: center;
    line-height: 60px;
}