.dcm-practice-areas-menu {
    font-size: 14px;
    font-family: $dcm-primary-font;
    #menu-practice-areas {
        list-style : none;
        padding-left: 0;
        margin: 0;
        li {
            padding-bottom: 5px;
            @include mq ('tablet-small') {
                // text-align: center;
            }
        }
        a {
            color: $dcm-grey;
            text-transform: uppercase;
        }
        a:hover {
            color: $dcm-black;
        }
        ul {
            margin: 0;
        } 
        .current-menu-item a, .current-menu-ancestor a{
            font-weight: 700;
            color: $dcm-black;
        }     
    }
    h3 {
        font-size: 22px;
        font-family: $dcm-body-font;
        color: $dcm-secondary-colour;
        @include mq ('tablet-small') {
            margin-top: 0;
        }
        @include mq ('navigation') {
            margin-top: 0;
        }
    }
}