.dcm-practice-areas-menu {
    font-size: 14px;
    font-family: $dcm-primary-font;
    #menu-practice-areas {
        list-style : none;
        padding-left: 0;
        li {
            padding-bottom: 5px;
        }
        a {
            color: $dcm-grey;
            text-transform: uppercase;
        }
        a:hover {
            color: $dcm-black;
        } 
    }
    h3 {
        font-size: 22px;
        font-family: $dcm-body-font;
        color: $dcm-primary-colour;
    }
}